div{
	margin-left: 300px;
   }


html{
	background-color:lightgray;
    }

blockquote{
	margin-left: 300px;
	margin-right: 300px;
	text-align: center;
	border-style:solid;
	border-width: 2px;
	border-color:white;
}